@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #d8e3e7;
  padding: 20px;
}

body::-webkit-scrollbar {
  background-color: #d8e3e7;
}

body::-webkit-scrollbar-thumb {
  background-color: #fc6d6d;
  border-radius: 2px;
}

p {
  font-weight: 600;
  font-size: 1rem;
}

/*............ Navbar section here................... */

#nav-menu {
  position: fixed;
  z-index: 3;
  bottom: 2rem;
  width: 17rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  background: rgba(0, 0, 0, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  padding: 10px 20px;
}

#nav-menu a {
  padding: 13px;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-menu .active {
  color: white;
  background-color: rgba(0, 0, 0, 0.542);
  border-radius: 100%;
}

#nav-menu a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.542);
  border-radius: 100%;
}

/*................... Home section here................... */
#home {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 10px;
}

.hello {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#user-detail-name {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
}

#home>div:nth-child(1) {
  position: relative;
  top: 10%;
  left: 5%;
  width: max-content;
  padding: 20px;
}

.typeAnimation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .static-txt {
  color: white;
  font-size: 50px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  height: 90%;
  width: 100%;
  padding: 5px;
  background-color: #d8e3e7;
  border-left: 4px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

.resumes {
  font-size: 18px;
  padding: 1em 2.7em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.542);
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 0.6em;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 20px;
}

.resumes:hover {
  background-color: #fc6d6d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.allIcons {
  width: 7.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.allIcons a {
  color: rgba(0, 0, 0, 0.542);
  margin-right: 15px;
}

.allIcons a>* {
  font-size: 30px;
}

.allIcons a>*:hover {
  color: #fc6d6d;
}

#mypic {
  align-self: center;
  position: relative;
  bottom: 10%;
}

#mypic img {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 100%;
  /* border-radius: 30% 70% 70% 30% / 30% 28% 72% 70% ; */
  transition: all ease-in-out 1s;
  display: block;
  margin: auto;
}

#mypic img:hover {
  transform: scale(1.1);
}

/* .....................about section here .....................*/

#about {
  height: 100vh;
  padding: 20px;
  position: relative;
  bottom: 3rem;
}

#about>.headers {
  margin: auto;
  width: max-content;
}

.headers> :nth-child(1) {
  color: #fc6d6d;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.headers> :nth-child(2) {
  font-size: 3rem;
  position: relative;
  bottom: 10px;
  text-align: center;
}

#myDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#myDetails p {
  margin-bottom: 20px;
}

#myDetails>img {
  width: 80%;
}

.ContactMe {
  display: flex;
  /* width: 50%; */
  align-items: center;
}

.ContactMe>p:nth-child(1) {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.ContactIcon {
  margin-right: 10px;
}

.distance {
  margin-bottom: 20px;
}

.resumesButton {
  letter-spacing: 3px;
  color: white;
  background: teal;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}

.resumesButton::before {
  content: "";
  border-radius: 1000px;
  border: 6px solid teal;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.resumesButton::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.resumesButton:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

/* .....................Skills section here................... */
#skills {
  height: max-content;
  padding: 20px;
}

.Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Buttons button {
  font-size: 18px;
  padding: 1em 2.7em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.542);
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 0.6em;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 20px;
}

.Buttons button:hover {
  background-color: #fc6d6d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  padding: 20px;
  row-gap: 20px;
  margin-top: 20px;
}

.Display>.allSkills {
  width: 45%;
  text-align: center;
  padding: 10px;
  transition: all ease 0.5s !important;
}

.Display>.allSkills img {
  width: 100%;
}

.Display>.allSkills:hover {
  border-radius: 9px;
  outline: 2px solid rgba(0, 0, 0, 0.542);
  scale: 1.1;
}

/*...................... Project section here.................. */

#projects {
  height: max-content;
  margin-top: 3rem;
  margin-bottom: 30px;
  padding: 20px;
}

.Actived {
  background-color: #fc6d6d !important;
}

#projects #ProjectShowCase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  padding: 20px;
  gap: 20px;
  margin-top: 20px;
}

#ProjectShowCase .AllProjects {
  padding: 20px;
  position: relative;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: all ease-in-out 0.4s;
}

#ProjectShowCase .AllProjects:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.AllProjects .projects_title {
  text-align: center;
  font-size: large;
  margin: 20px 0px;
  letter-spacing: 2px;
}

.AllProjects .projects_title+p,
.techStack {
  font-size: 17px;
  margin-bottom: 10px;
}

.techStack span {
  font-weight: 900;
  color: teal;
  font-size: 1rem;
}

.MadeBy {
  font-size: 17px;
  text-align: center;
}

.MadeBy+div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.MadeBy+div a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  outline: 2px solid rgba(0, 0, 0, 0.542);
  padding: 10px 25px;
  border-radius: 7px;
  transition: all ease-in-out 0.5s;
}

.MadeBy+div a:hover {
  outline: 0;
  background-color: teal;
  color: white;
}

/* ................Github Stats section here .....................*/
#github {
  height: max-content;
  margin-top: 50px;
}

#github-streak-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#statsCard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#statsCard>div img {
  width: 100%;
}

#github-top-langs {
  margin-right: 20px;
}


/* ................education section here .....................*/

#education {
  margin-top: 80px;
}

.eductionDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 11px;
  padding: 20px;
  font-size: 17px;
  margin-bottom: 20px;
}

.eductionDetails>img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.BajkulData {
  width: 45%;
}

.bajkul_btn {
  display: flex;
}

.bajkul_btn a {
  text-decoration: none;
  padding: 10px;
  background-color: teal;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  margin-right: 10px;
}

.bajkul_btn button {
  text-decoration: none;
  padding: 10px;
  background-color: teal;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  border: 0;
  cursor: pointer;
}

#collageId {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.856);
}

#collageId img {
  width: 40rem;
  display: block;
  margin: auto;
}

#Crosshere {
  position: relative;
  bottom: 9rem;
  left: -22rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

#insideEductionDetails .education-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#insideEductionDetails .tech-stacks {
  margin-bottom: 10px;
}

#insideEductionDetails .tech-stacks p {
  font-size: 17px;
}

#insideEductionDetails .achievements {
  position: relative;
}

#insideEductionDetails .achievements h4 {
  margin-bottom: 5px;
}

#insideEductionDetails .achievements ul {
  list-style: none;
}

#insideEductionDetails .achievements ul li::before {
  content: "â– ";
  margin-right: 10px;
}

#Visit_Site {
  text-decoration: none;
  padding: 10px;
  background-color: teal;
  color: white;
  position: absolute;
  left: 80%;
  bottom: 5%;
  border-radius: 6px;
  font-size: 17px;
}

/* ....................Contact section here ..................*/
#contact {
  height: 100vh;
  padding: 20px;
  position: relative;
}

#contact #Contact-Details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.495);
  border-radius: 11px;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.841);
}

#Contact-Details>#details-section,
#form-section {
  width: 50%;
}

.Contact-title {
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

#details-section p {
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.fewdt,
.withIcon {
  font-size: 18px;
}

.withIcon {
  display: flex;
  align-items: center;
}

.contactwalaIcon a {
  color: #d8e3e7;
}

.contactwalaIcon a>*:hover {
  color: #d8e3e7;
}

.withIconspan {
  margin-right: 30px;
  background-color: teal;
  color: white;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  padding: 10px;
}

#form-section form {
  display: flex;
  flex-direction: column;
}

#form-section form input,
form textarea {
  margin-bottom: 10px;
  outline: none;
  height: 3rem;
  border-radius: 5px;
  border: 0;
  padding: 20px;
  background-color: #d8e3e7;
}

#form-section form input::placeholder,
form textarea::placeholder {
  font-size: 18px;
  font-weight: 600;
}

.your-message {
  height: 8rem !important;
}

#submit {
  background-color: teal !important;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0 !important;
}


#Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 900;
}


/*.................. for responsive .................. */

@media screen and (max-width: 1315px) {
  #home {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  #first-child {
    width: 100%;
  }

  .hello {
    font-size: 40px;
    margin-bottom: 5px;
  }

  #user-detail-name {
    font-size: 50px;
  }

  #home>div:nth-child(1) {
    top: 0;
  }

  .typeAnimation {
    margin-bottom: 5px;
  }

  .wrapper .static-txt,
  .dynamic-txts li {
    font-size: 30px;
  }

  .resumes {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .allIcons {
    margin-top: 20px;
  }

  #mypic {
    bottom: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  #mypic img {
    width: 50%;
  }

  /* ........ about section ........*/

  #about {
    bottom: 0;
    height: max-content;
    margin-bottom: 80px;
  }

  #myDetails {
    flex-direction: column;
  }

  #myDetails p,
  .Buttons button {
    font-size: 16px;
    /* skill is here*/
  }

  /* ........ Skills section ........*/

  #skills {
    height: max-content;
    padding: 0;
  }

  .Display {
    padding: 0;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
    gap: 20px;
  }

  .Display>.allSkills {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Display>.allSkills img+P {
    font-size: 14px;
    margin-top: 10px;
  }

  /* ........ Projects section ........*/

  #projects {
    height: max-content;
    margin-bottom: 0px;
    padding: 0;
  }

  #projects #ProjectShowCase {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 !important;
  }

  .AllProjects .projects_title {
    font-size: 18px;
    font-weight: 900;
  }

  .AllProjects .projects_title+p,
  .techStack,
  .MadeBy {
    font-size: 14px;
  }

  .MadeBy {
    text-align: left;
  }

  .techStack span {
    font-size: 0.8rem;
  }

  .techStack+div a {
    font-size: 16px;
  }

  /*............ github section ................ */


  /*............ Education................ */
  .eductionDetails {
    flex-direction: column;
  }

  .BajkulData {
    width: 90%;
  }

  #collageId img {
    position: relative;
    left: 5rem;
  }

  #Crosshere {
    left: -8rem;
  }

  /* ........ Contact section ........*/

  #contact {
    height: 100vh;
  }

  #contact #Contact-Details {
    flex-direction: column;
  }

  #Contact-Details>#details-section,
  #form-section {
    width: 100%;
  }

  #details-section p {
    font-size: 14px;
  }

  .Contact-title {
    font-size: 1.2rem !important;
  }

  #Footer {
    font-size: 10px !important;
  }

  #form-section {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 730px) {
  #projects #ProjectShowCase {
    grid-template-columns: repeat(1, 1fr);
  }

  .Buttons button {
    font-size: 14px;
    padding: 1em 2.7em;
  }

  #Footer {
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 10px;
  }
}


/* ..............mobile size screen................. */

@media screen and (max-width: 600px) {
  #home {
    height: 95vh;
  }

  .hello {
    font-size: 1.5rem;
  }

  #home>div:nth-child(1) {
    width: max-content;
    top: 0%;
    left: 0%;
  }

  #user-detail-name {
    font-size: 2.1rem;
    position: relative;
    top: 10px;
  }

  .wrapper .static-txt,
  .dynamic-txts li {
    font-size: 1rem;
  }

  .allIcons {
    margin-top: 35px;
  }

  .allIcons a {
    margin-right: 15px;
  }

  .dynamic-txts li span::after {
    top: -3px;
    border-left: 3px solid #fc6d6d;
  }

  /* ........ About section ........*/
  #about {
    padding: 10px;
  }

  #myDetails img {
    width: 100%;
  }

  .headers> :nth-child(2) {
    font-size: 1.8rem;
  }

  /* ........ Skills section ........*/
  #skills {
    padding: 0;
  }

  .spacehere {
    margin-left: 10px !important;
  }

  .Buttons button {
    font-size: 9px;
    font-weight: 100;
    padding: 1em 1.5em;
  }

  .Display {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    padding: 0;
  }

  .allSkills {
    padding: 0;
  }

  .Display>.allSkills img+P {
    font-size: 10px;
  }

  /* ........ Project section ........*/

  #projects #ProjectShowCase {
    grid-template-columns: repeat(1, 1fr);
  }

  /*............ github section................ */

  #statsCard {
    flex-direction: column;
  }

  #statsCard>div {
    width: 100%;
  }

  /*............ Education................ */
  .eductionDetails {
    margin-top: 20px;
  }

  .eductionDetails>img {
    width: 7rem;
    height: 7rem;
  }

  #insideEductionDetails .education-details,
  #insideEductionDetails p,
  #insideEductionDetails h4,
  #insideEductionDetails li {
    font-size: 11px !important;
  }

  .tech-stacks p {
    font-weight: 100;
  }

  .tech-stacks p span {
    font-weight: 600;
    margin-right: 2px;
  }

  #Visit_Site {
    font-size: 8px !important;
  }

  .tech-stacks h4 {
    margin-bottom: 3px;
  }

  #collageId {
    height: 100vh;
  }

  #collageId img {
    width: 26rem;
    position: relative;
    left: 3rem;
  }

  #Crosshere {
    bottom: 5.9rem;
    left: -5rem;
    font-size: 1.5rem;
  }

  /* ........ Contact section ........*/
  #contact {
    padding: 0;
    margin-top: 20px;
  }

  #contact #Contact-Details {
    background-color: #d8e3e7;
    padding: 0;
    color: black;
  }

  #details-section {
    margin-bottom: 10px;
  }

  #details-section p {
    font-size: 14px;
  }

  #form-section form {
    background-color: rgba(0, 0, 0, 0.495);
    padding: 20px;
    border-radius: 11px;
    padding-bottom: 2rem !important;
  }

  #form-section form input::placeholder,
  #form-section form textarea::placeholder {
    font-size: 14px;
  }

  #submit {
    font-size: 14px;
  }

  #Footer {
    font-size: 6px !important;
    font-weight: 900;
  }

  .withIconspan {
    width: 2rem;
    height: 2rem;
  }

}

@media screen and (max-width: 390px) {
  #about {
    padding: 0;
    width: 100vw;
  }

  #myDetails {
    display: grid;
    place-content: center;
  }

  .aboutText {
    font-size: 0.7rem !important;
  }


  #ProjectShowCase,
  #ProjectShowCase .AllProjects {
    width: 100%;
  }

  .education-details {
    font-size: 10px;
  }

  .bajkul_btn a,
  .bajkul_btn button {
    font-size: 10px;
  }
}